NEXT_PUBLIC_SITE_URL=https://leadmech.vercel.app
NEXT_PUBLIC_SUPABASE_URL=https://vioosujcdwfcscwgtgsp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
APIFY_ACTOR_ID=
APIFY_API_TOKEN=
APIFY_WEBHOOK_SECRET=
NOWPAYMENTS_API_KEY=
NOWPAYMENTS_IPN_SECRET=
RESEND_API_KEY=
RESEND_FROM_EMAIL=Leadmech <orders@example.com>
